.about-page {
    padding: 20px;
    background: linear-gradient(135deg, #ffcc70, #de7173);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.about-page h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.story-section,
.interactive-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-section p,
.interactive-section p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.join-button {
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: #66BB6A;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.join-button:hover {
    background-color: #38723b;
    transform: scale(1.1);
}

.map {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.location {
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.location:hover {
    background-color: #f9f9f9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}