header {
    background-color: #384F3A;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: inline-block;
    width: 250px;
    /* Ajusta el ancho de la imagen */
    height: 40px;
    /* Ajusta la altura de la imagen */
    background-image: url('../assets/header-logo.png');
    /* Ruta a la imagen */
    background-size: contain;
    /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen */
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #66BB6A;
    transform: scale(1.1);
}

nav ul li a.login {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #28a745;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a.login:hover {
    background-color: #218838;
    transform: translateY(-50%) scale(1.1);
}